@use "../abstracts" as *;
@use "sass:map";

.button-contact {
    width: 140px;
    height: 56px;
    border-radius: 28px;
    border-style: none;
    font: 100% "Fraunces", serif;
    text-transform: uppercase;
    color: map.get($colors, "text", 500);
    background: map.get($colors, "main", "mainYellow");
    cursor: pointer;
    transition: color 0.2s ease, background-color 0.2s ease;

    @include mq {
        background: map.get($colors, "text", 100);

        &:hover {
            color: map.get($colors, "text", 100);
            background-color: hsl(0, 100%, 100%, 25%);
        }
    }
}

.button-learn-more {
    position: relative;
    font: 900 100% "Fraunces", serif;
    text-transform: uppercase;
    color: map.get($colors, "text", 500);

    &:hover {
        &:last-child {
            opacity: 100%;
        }
    }

    &::after {
        content: "";
        width: 7.3rem;
        height: 0.5rem;
        border-radius: 0.15rem;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        opacity: 25%;
        transition: opacity 0.2s ease;
    }

    &:hover::after {
        opacity: 100%;
    }

    &.underline-yellow::after {
        background-color: map.get($colors, "main", "mainYellow");
    }

    &.underline-red::after {
        background-color: map.get($colors, "main", "softRed");
    }
}

// .underline-yellow {
//     background-color: map.get($colors, "main", "mainYellow");
// }

// .underline-red {
//     background-color: map.get($colors, "main", "softRed");
// }