@use "../abstracts" as *;
@use "sass:map";

.card-solid {
    padding: 10%;

    @include mq {
        text-align: left;
        display: flex;
        align-items: center;
    }
}

.card-solid-inner {
    margin: 64px 0;

    @include mq {
        margin: 0 auto;
        width: 80%;
        max-width: 500px;
    }

    p {
        margin: 1.7rem 0;
        line-height: 1.8rem;
    }
}

.card-image {
    position: relative;
}

.card-image-text-container {
    position: absolute;
    width: 100%;
    bottom: 5%;
}

.card-image-text {
    max-width: 500px;
    margin: 0 auto;
    padding: 5%;
    line-height: 1.5rem;

    h3 {
        margin-bottom: 8%;
    }
}

.card-graphic-design {
    color: map.get($colors, "main", darkCyan);
}

.card-photography {
    color: map.get($colors, "main", darkBlue);
}

.card-testimonial {
    height: 27rem;
    padding: 3.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: map.get($colors, "text", 400);
}

.card-testimonial-image {
    margin: 0 auto;
    width: 4rem;
    height: auto;
    border-radius: 50%;
    line-height: 1rem;
}

.card-testimonial-text {
    line-height: 2rem;
}

.card-testimonial-id {
    font-size: 0.8rem;
    color: map.get($colors, "text", 200);

    h5 {
        margin-bottom: 0.7rem;
    }
}