@use "../abstracts" as *;
@use "sass:map";

footer {
    background-color: map.get($colors, "main", "moderateCyan");
    text-align: center;
}

.section-footer-images {
    @include grid-col-2;

    @include mq {
        grid-template-columns: repeat(4, 1fr);
    }

    img {
        width: 100%;
    }
}

.section-footer-info {
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    // padding: 10% 10%;
}

.section-footer-logo {
    width: 170px;
    padding-top: 64px;
    color: map.get($colors, "main", darkCyan);
}

.footer-link-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10%;
}

.footer-link {
    color: map.get($colors, "main", darkCyan);

    &:hover {
        color: map.get($colors, "text", 100);
    }
}

.footer-socials-list {
    width: 50%;
    margin: 0 auto;
    padding: 10% 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-social-link img {


    &:hover {
        fill: map.get($colors, "text", 100);
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: map.get($colors, "main", darkCyan);

    a {
        color: map.get($colors, "text", 100);
    }
}   