@use "../abstracts" as *;
@use "sass:map";

footer {
    background-color: #90D4C6;
    text-align: center;
}

.section-footer-images {
    @include grid-col-2;

    @include mq {
        grid-template-columns: repeat(4, 1fr);
    }

    img {
        width: 100%;
    }
}

.section-footer-info {
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    padding-top: 64px;
}

.section-footer-logo {
    width: 170px;
    height: 33px;
    margin: 0 auto;
    background-color: #2C7566;
    mask: url("../../images/logo.svg") no-repeat;
    mask-size: 170px;
}

.footer-link-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10%;
}

.footer-link {
    color: map.get($colors, "main", "moderateCyan");

    &:hover {
        color: map.get($colors, "text", 100);
    }
}

.footer-socials-list {
    width: 50%;
    margin: 0 auto;
    padding: 10% 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-social-link {
    display: block;
    width: 20px;
    height: 20px;
    background-color:#2C7566;
    mask-repeat: no-repeat;
    mask-size: 20px;

    &:hover {
        background-color: map.get($colors, "text", 100);
    }

    &.facebook {
        mask-image: url("../../images/icon-facebook.svg");
    }

    &.twitter {
        mask-image: url("../../images/icon-twitter.svg");
    }

    &.instagram {
        mask-image: url("../../images/icon-instagram.svg");
    }

    &.pinterest {
        mask-image: url("../../images/icon-pinterest.svg");
    }
}

.attribution {
    width: 80%;
    margin: 0 auto;
    font-size: 11px;
    padding-bottom: 1rem;
    text-align: center;
    color: map.get($colors, "main", "moderateCyan");

    a {
        color: map.get($colors, "main", darkCyan);

        &:hover {
            color: map.get($colors, "text", 100);
        }
    }
}   