@use "../abstracts" as *;
@use "sass:map";

.section-hero {
    position: relative;
    text-align: center;

    @media screen and (min-width: map.get($breakpoints, "sm")) {

    }
}

.section-hero-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.section-hero-h1 {
    margin: 20vw 10% 0;

    @media screen and (min-width: map.get($breakpoints, "sm")) {
        margin: 5vw 10% 0;
    }
}

.section-hero-arrow {
    margin-top: 10vw;

    @media screen and (min-width: map.get($breakpoints, "sm")) {
        margin-top: 5vw;
    }
}

.img-hero {
    width: 100%;
}