* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 112.5%;
}

h1 {
  font: 900 220% "Fraunces", serif;
  letter-spacing: 0.4rem;
  color: white;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  h1 {
    letter-spacing: 0.7rem;
    font-size: 350%;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
}

.desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .desktop {
    display: initial;
  }
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 24px;
}
@media screen and (min-width: 768px) {
  header {
    padding: 34px 40px;
  }
}

.header-link-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-link-list {
    display: initial;
    width: 467px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header-link {
  color: white;
}
.header-link:hover {
  color: rgba(255, 255, 255, 0.2537);
}

.logo {
  width: 124px;
}
@media screen and (min-width: 768px) {
  .logo {
    width: 170px;
  }
}

.button-contact {
  width: 140px;
  height: 56px;
  border-radius: 28px;
  border-style: none;
  font: 100% "Fraunces", serif;
  text-transform: uppercase;
  color: #23303e;
  cursor: pointer;
  transition: color 0.2s ease, background-color 0.2s ease;
}
.button-contact:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.2537);
}

.section-hero {
  position: relative;
  text-align: center;
}

.section-hero-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.section-hero-h1 {
  margin: 20vw 10% 0;
}
@media screen and (min-width: 768px) {
  .section-hero-h1 {
    margin: 5vw 10% 0;
  }
}

.section-hero-arrow {
  margin-top: 10vw;
}
@media screen and (min-width: 768px) {
  .section-hero-arrow {
    margin-top: 5vw;
  }
}

.img-hero {
  width: 100%;
  height: auto;
}

.section-info {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .section-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.section-info-img {
  width: 100%;
}

footer {
  background-color: #458c7e;
  text-align: center;
}

.section-footer-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media screen and (min-width: 768px) {
  .section-footer-images {
    grid-template-columns: repeat(4, 1fr);
  }
}
.section-footer-images img {
  width: 100%;
}

.section-footer-info {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
}

.section-footer-logo {
  width: 170px;
  padding-top: 64px;
  color: #25564b;
}

.footer-link-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10%;
}

.footer-link {
  color: #25564b;
}
.footer-link:hover {
  color: white;
}

.footer-socials-list {
  width: 50%;
  margin: 0 auto;
  padding: 10% 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-social-link img:hover {
  fill: white;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: #25564b;
}
.attribution a {
  color: white;
}/*# sourceMappingURL=main.css.map */