* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 112.5%;
  color: #818498;
}

h1 {
  font: 900 2.2rem "Fraunces", serif;
  letter-spacing: 0.4rem;
  color: white;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  h1 {
    letter-spacing: 0.7rem;
    font-size: 3.5rem;
  }
}

h2 {
  font: 900 2rem "Fraunces", serif;
  color: #23303e;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.5rem;
  }
}

h3 {
  font: 900 1.5rem "Fraunces", serif;
}

h4 {
  font: 900 0.9rem "Fraunces", serif;
  color: #a7abae;
  text-transform: uppercase;
  letter-spacing: 0.23rem;
}
@media screen and (min-width: 768px) {
  h4 {
    font-size: 1.1rem;
    letter-spacing: 0.27rem;
  }
}

h5 {
  font: 900 1rem "Fraunces", serif;
  color: #23303e;
}

html {
  text-align: center;
  background-color: #FFFCF8;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
}

.desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .desktop {
    display: initial;
  }
}

header {
  width: 100%;
  padding: 32px 24px;
}
@media screen and (min-width: 768px) {
  header {
    padding: 34px 40px;
  }
}

.header-container {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger {
  cursor: pointer;
  opacity: 100%;
  transition: opacity 0.2s ease;
}

.hamburger-on-click {
  opacity: 50%;
}

.header-menu {
  width: 100%;
  height: 0;
  opacity: 0%;
  overflow: hidden;
  position: absolute;
  top: 50px;
  transition: height 0.5s ease, opacity 0.5s ease;
}
.header-menu.show {
  opacity: 100%;
  height: 320px;
}
@media screen and (min-width: 768px) {
  .header-menu {
    display: initial;
    position: relative;
    background: none;
    width: 467px;
    height: auto;
    top: 0;
    opacity: 100%;
  }
}

.triangle {
  width: 100%;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-right: 40px solid #FFFCF8;
}
@media screen and (min-width: 768px) {
  .triangle {
    display: none;
  }
}

.header-link-list {
  width: 100%;
  height: 300px;
  padding: 2rem 0;
  position: absolute;
  top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background: #FFFCF8;
}
@media screen and (min-width: 768px) {
  .header-link-list {
    position: relative;
    height: auto;
    padding: 0;
    top: 0;
    flex-direction: row;
    background: none;
  }
}

.header-link {
  color: #818498;
}
@media screen and (min-width: 768px) {
  .header-link {
    margin: 0;
    color: white;
  }
  .header-link:hover {
    color: rgba(255, 255, 255, 0.2537);
  }
}

.logo {
  width: 124px;
}
@media screen and (min-width: 768px) {
  .logo {
    width: 170px;
  }
}

.button-contact {
  width: 140px;
  height: 56px;
  border-radius: 28px;
  border-style: none;
  font: 100% "Fraunces", serif;
  text-transform: uppercase;
  color: #23303e;
  background: #fad400;
  cursor: pointer;
  transition: color 0.2s ease, background-color 0.2s ease;
}
@media screen and (min-width: 768px) {
  .button-contact {
    background: white;
  }
  .button-contact:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.2537);
  }
}

.button-learn-more {
  position: relative;
  font: 900 100% "Fraunces", serif;
  text-transform: uppercase;
  color: #23303e;
}
.button-learn-more:hover:last-child {
  opacity: 100%;
}
.button-learn-more .underline {
  width: 100%;
  height: 40%;
  position: absolute;
  bottom: 0;
  z-index: -1;
  opacity: 25%;
}

.underline-yellow {
  background-color: #fad400;
}

.underline-red {
  background-color: #fe7867;
}

.card-solid {
  padding: 10%;
}
@media screen and (min-width: 768px) {
  .card-solid {
    text-align: left;
    display: flex;
    align-items: center;
  }
}

.card-solid-inner {
  margin: 64px 0;
}
@media screen and (min-width: 768px) {
  .card-solid-inner {
    margin: 0 auto;
    width: 80%;
    max-width: 500px;
  }
}
.card-solid-inner p {
  margin: 1.7rem 0;
  line-height: 1.8rem;
}

.card-image {
  position: relative;
}

.card-image-text-container {
  position: absolute;
  width: 100%;
  bottom: 5%;
}

.card-image-text {
  max-width: 500px;
  margin: 0 auto;
  padding: 5%;
  line-height: 1.5rem;
}
.card-image-text h3 {
  margin-bottom: 8%;
}

.card-graphic-design {
  color: #25564b;
}

.card-photography {
  color: #19536b;
}

.card-testimonial {
  height: 27rem;
  padding: 3.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #5a636c;
}

.card-testimonial-image {
  margin: 0 auto;
  width: 4rem;
  height: auto;
  border-radius: 50%;
  line-height: 1rem;
}

.card-testimonial-text {
  line-height: 2rem;
}

.card-testimonial-id {
  font-size: 0.8rem;
  color: #a7abae;
}
.card-testimonial-id h5 {
  margin-bottom: 0.7rem;
}

.section-hero {
  position: relative;
  text-align: center;
}

.section-hero-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.section-hero-h1 {
  margin: 20vw 10% 0;
}
@media screen and (min-width: 768px) {
  .section-hero-h1 {
    margin: 5vw 10% 0;
  }
}

.section-hero-arrow {
  margin-top: 10vw;
}
@media screen and (min-width: 768px) {
  .section-hero-arrow {
    margin-top: 5vw;
  }
}

.img-hero {
  width: 100%;
  height: auto;
}

.section-info {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .section-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.section-info-img {
  width: 100%;
}

.section-testimonials {
  padding: 65px 10%;
}
@media screen and (min-width: 768px) {
  .section-testimonials {
    padding: 10%;
  }
}

@media screen and (min-width: 768px) {
  .section-testimonial-cards {
    margin: 0 auto;
    max-width: 1100px;
    display: grid;
    gap: 5%;
    grid-template-columns: repeat(3, 1fr);
  }
}

footer {
  background-color: #90D4C6;
  text-align: center;
}

.section-footer-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media screen and (min-width: 768px) {
  .section-footer-images {
    grid-template-columns: repeat(4, 1fr);
  }
}
.section-footer-images img {
  width: 100%;
}

.section-footer-info {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
}

.section-footer-logo {
  width: 170px;
  padding-top: 64px;
  fill: #25564b;
}

.footer-link-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10%;
}

.footer-link {
  color: #458c7e;
}
.footer-link:hover {
  color: white;
}

.footer-socials-list {
  width: 50%;
  margin: 0 auto;
  padding: 10% 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-social-link img:hover {
  fill: white;
}

.attribution {
  width: 80%;
  margin: 0 auto;
  font-size: 11px;
  padding-bottom: 1rem;
  text-align: center;
  color: #458c7e;
}
.attribution a {
  color: #25564b;
}
.attribution a:hover {
  color: white;
}/*# sourceMappingURL=main.css.map */