$colors: (
    main: (
        softRed: hsl(7, 99%, 70%),
        mainYellow: hsl(51, 100%, 49%),
        darkBlue: hsl(198, 62%, 26%),
        moderateCyan: hsl(168, 34%, 41%),
        darkCyan: hsl(167, 40%, 24%),
    ),

    text: (
        100: hsl(0, 0%, 100%),
        200: hsl(210, 4%, 67%),
        300: hsl(232, 10%, 55%),
        400: hsl(213, 9%, 39%),
        500: hsl(212, 27%, 19%),
    ),
);