@use "../abstracts" as *;
@use "sass:map";

html {
    text-align: center;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.mobile {
    @media screen and (min-width: map.get($breakpoints, sm)) {
        display: none;
    }
}

.desktop {
    display: none;

    @media screen and (min-width: map.get($breakpoints, sm)) {
        display: initial;
    }
}