@use "../abstracts" as *;
@use "sass:map";

html {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-size: 112.5%;
    color: map.get($colors, "text", 300);
}

h1 {
    font: 900 2.2rem "Fraunces", serif;
    letter-spacing: 0.4rem;
    color: map.get($colors, "text", 100);;
    text-transform: uppercase;

    @include mq {
        letter-spacing: 0.7rem;
        font-size: 3.5rem;
    }
}

h2 {
    font: 900 2rem "Fraunces", serif;
    color: map.get($colors, "text", 500);

    @include mq {
        font-size: 2.5rem;
    }
}

h3 {
    font: 900 1.5rem "Fraunces", serif;
}

h4 {
    font: 900 0.9rem "Fraunces", serif;
    color: map.get($colors, "text", 200);
    text-transform: uppercase;
    letter-spacing: 0.23rem;

    @include mq {
        font-size: 1.1rem;
        letter-spacing: 0.27rem;
    }
}

h5 {
    font: 900 1rem "Fraunces", serif;
    color: map.get($colors, "text", 500);
}